<div id="user-wrap">
  <nav id="user-nav">
    <div class="user-nav-inner-wrap">
      <%= image_tag("handup-logo.png", size:'90x45')%>
      <!-- <div class="user-nav-mini">
        <div class="user-nav-mini-inner-wrap">

        </div>
      </div> -->
    </div>
  </nav>

  <main id="user_content">
    <div class="user-content-inner-wrap">
      <div class="profile-photo">
      </div>
    </div>
  </main>
</div> <!-- end user-wrap -->
