

<main id="content">
 <div id="wrap">
  <nav id="links">
    <ul class="link">
    <a href=""><li class="app-title">-</li></a>
    <a href=""><li class="link">Challenges</li></a>
    <a href=""><li class="link">Sponsors</li></a>
    <a href=""><li class="link">Balance</li></a>
    <a href=""><li class="link">Goals</li></a>
    </ul>
    <div class="mini-profile">
    <ul class="mini-profile"
    <a><li class="mini-profile-pic"><%= image_tag('mubiyna-casey.jpg', size:'40x40')%> Hi, Mubiyna</li></a>
    <a><li class="notifications">M</li></a>
    </ul>
    </div>
  </nav>

  <div id="content-wrap">
  <aside id="user-nav">
    <ul class="user-nav">
      <a href=""><li>M Title</li></a>
      <a href=""><li>M Link 1</li></a>
      <a href=""><li>M Link 2</li></a>
      <a href=""><li>M Link 3</li></a>
      <a href=""><li>M Link 4</li></a>
    <ul>
  </aside>
  <main id="user-content">

        <%= yield %>
  </main>
</div>
</div>
