<div id="wrap">
  <div id="header-wrap">
    <header id="nav">
      <a class="button-signup">Create Account</a>
      <a class="nav-buttons">Find A Student</a>
      <a class="nav-buttons">Sponsor A Student</a>
      <a class="nav-buttons">Lend A Hand</a>
      <b><a class="button-login" href="/auth/linkedin">log in<a></b>

    </header>
  </div>

  <main id="content">
    <!-- \\\\\\\\\\\ [ SLIDE SHOW START ] /////////// -->
    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item" style="background:url('http://www.theartcareerproject.com/wp-content/uploads/2014/10/shutterstock_214216972.jpg'); background-size:cover;"></div>
      <div class="item" style="background:url('http://www.theartcareerproject.com/wp-content/uploads/2014/10/shutterstock_214216972.jpg'); background-size:cover;"></div>
      <div class="item" style="background:url('http://www.theartcareerproject.com/wp-content/uploads/2014/10/shutterstock_214216972.jpg'); background-size:cover"></div>
      <!-- <div class="item" style="background:url(''); background-size:cover"></div> -->
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
      <div class="box">  </div>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
   </div>
   <!-- \\\\\\\\\\\ [ SLIDE SHOW END ] /////////// -->
  </main>
</div>
