/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
/* line 25, /Users/mubiynacasey/student-fund-me-app/app/assets/stylesheets/application.css.scss */
a {color: #101010;}
  a:link {
  color: #101010;
  text-decoration: none;}
  a:visited {
  color: #101010;
  text-decoration: none;}
  a:hover {
  color: #101010;
  text-decoration: none;
  }
  a:active {
  color: #101010;
  text-decoration: none;}

body {
  margin: 0;
  padding: 0;
}
nav#home {
  width: 100vw;
  height: 70px;
  min-width: 650px;
  border-bottom: 2px solid #f8f8f8;
  }
  .nav-inner-wrap {
  margin: 20px;
  overflow: auto;
  height: 50px;
  }
  .nav-inner-wrap img {
  margin-left: 50px;
  display: inline-block;
  }
  .nav-links {
  display: inline-block;
  padding-right: 100px;
  text-align: right;
  float: right;
  margin-top: 15px;
  }
  .nav-links a {
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  }

main#content {
  width: 100vw;
  min-width: 650px;
  margin: 0;
  background: pink;
  overflow: auto;
  }
  .carousel-inner {
    z-index: 0;
    }
    .carousel-inner img {
    width: 100vw;
    height: 100vh;
    min-width: 650px;
    z-index: 0;
    }
    .box {
    width: 30px;
    height: 30px;
    background: red;
    }
#footer {
  margin-top: 0px;
  width: 100vw;
  min-width: 650px;
  background: #fff;
  }
  .footer-inner-wrap {
  // border: 1px solid red;
  overflow: auto;
  min-width:650px;
  }
  .column-wrap {
  margin: 0px 1.5vw;
  // border: 1px solid green;
  overflow: auto;
  display: inline-block;
  }
  .column-1, .column-2, .column-3 {
  position:relative;
  width: 26vw;
  min-height: 200px;
  margin: 3vw;
  // border: 1px solid blue;
  display: inline-block;
  text-align:justify;
  }
  h1.how-it-works {
    margin:40px auto 0 auto;
    width:250px;
    // border:1px solid black;
    font-family:'ariel';
    // font-size:;
    // color:;
  }h1.how-it-works a {text-align:center;}

@media screen and (max-width: 750px) {
  .column-1, .column-2, .column-3 {
    width: 87vw;
    min-width:550px;
    min-height: 200px;
    margin: 50px auto;
    display: block;
    clear: both;
  }
  .column-wrap {
    margin:0 50px;
  }

}
@media screen and (max-width: 1200px) and (min-width: 750px) {
  .column-1, .column-2 {
    width: 39vw;
    min-height: 200px;
    margin: 3.4vw;
    display: inline-block;
    clear: both;
  }
  .column-3 {
    width: 86vw;
    min-height: 150px;
    display: block;
    clear: both;
  }
  .column-wrap {
    margin:0px 3.6vw;
    overflow: auto;
    display: inline-block;
    }
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
