/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.

 *= require_tree .
 *= require_self
 *= require jquery-ui
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */
@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
/* line 25, /Users/mubiynacasey/student-fund-me-app/app/assets/stylesheets/application.css.scss */

a {color: #101010;}
  a:link {
  color: #101010;
  text-decoration: none;}
  a:visited {
  color: #101010;
  text-decoration: none;}
  a:hover {
  color: #101010;
  text-decoration: none;
  }
  a:active {
  color: #101010;
  text-decoration: none;}
li {  list-style:none;}
ul {padding:0;margin:0;}

body{padding:0;margin:0;
  //background:#EBEBE8;
  }

#app-wrap {
  padding:0;
  margin:0;
  width:100vw;
  height:100vh;
  min-height:560px;
  // border:1px solid green;
  position:relative;
}
#header-wrap {
  width:100vw;
  height:60px;
  background:#fff;
  // position:absolute;
  // border:1px solid blue;
  }
  header#nav {
  width:80vw;
  height:60px;
  // border:1px solid red;
  margin:0 auto;
  }
  header#nav a.button-login {
  // border:1px solid #25A18E;
  background:#AAF683;//#60D394;//#06979e;
  border-radius:25px;
  padding:12px 18px;
  line-height:60px;
  font-size:15px;
  color:#111D13;
  // font-weight:900px;
  text-transform:uppercase;
  // float:right;
  }
  header#nav a.button-signup{
  line-height:60px;
  text-transform:uppercase;
  color:#F7D513;
  font-size:12px;
  margin-right:15px;
  }
  header#nav a.nav-buttons {
  line-height:60px;
  // margin:0 5px;
  color:gray;
  font-size:12px;
  text-transform:uppercase;
  }
  header#nav span.glyphicon {
    margin: 0 15px;
  }


#app-content {
  width:100vw;
  height:92.25vh;
  // border:1px solid green;
  }
  .inner-item {height:92.25vh;}
  .carousel-inner {height:92.25vh;}
>>>>>>> 609c2ad4f34bcdf4d6bfea4e71f9474c2a36403f
