// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-wrap {
  background:#f8f8f8;
}

nav#user-nav{
  width: 100vw;
  height: 50px;
  min-width: 650px;
  background:#fff;
  box-shadow: 0 4px 2px -2px #ddd;
  }
  .user-nav-inner-wrap {
  margin: 5px;
  overflow: auto;
  height: 45px;
  // border:1px solid red;
  }
  .user-nav-inner-wrap img {
  margin-left: 50px;
  display: inline-block;
  }
  .user-nav-mini {
  // display: inline-block;
  // padding-right: 100px;
  // text-align: right;
  float: right;
  margin-right:100px;
  height:45px;
  // margin-top: 15px;
  border:1px solid blue;
  }
  .user-nav-mini-inner-wrap {
  width:150px;
  height:40px;
  background:red;
  border:1px solid green;
  border-radius:20px;

  }
  .user-nav-links a {
  margin-right: 10px;
  border: 1px solid transparent;
  border-radius: 10px;
  }

main#user_content {
  margin:20px auto;
  width:90vw;
  min-width:700px;
  height:90vh;
  padding:15px;
  border: 2px solid #59AEA1;// #7DAF9C;
  }
  .user-content-inner-wrap {
    // width:85vw;
    // height:85vh;
    padding:15px;
    background:#fff;
    border:1px solid red;

  }
  .profile-photo {
    width:150px;
    height:150px;
    border:5px solid #fff;
    background:#f8f8f8;
    border-radius:3px;
    box-shadow: 0px 0px 5px #888;
  }
  .content-links {
    margin:0 auto;
    width:800px;
    height:50px;
    background:#D2D7DF;

  }
