// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.welcome {
  background:#fff;
  border:1px solid #f8f8f8;
  padding:20px;
  margin:0;
  font-weight:normal;
  color:#888;
}
